# Visual Studio
.vs/
*.vcxproj.user
*.sln
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Compiled files
*.exe
*.dll
*.lib
*.obj
*.pdb

# SFML DLLs (if copied locally)
*.dll

# Assets (if you want to ignore them, uncomment)
# assets/

